<div class="card mt-3 border-0 ">
    <div class="card-body" style="border-radius: 30px"
        [ngClass]="{ 'bg-success':todo.complete , 'bg-dark':!todo.complete, 'text-white':!todo.complete }">
        <h3>{{todo.title}}</h3>
        <p>{{todo.summary}}</p>
        <div class="container">
            <button class="btn btn-danger btn-sm" (click)="deleteTodo(todo.id)">Delete</button>
            <button class="btn btn-primary btn-sm ms-3" [routerLink]="['/update-todo',todo.id]">Update</button>
        </div>
    </div>
</div>